.contenedor-historia{
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px 2px;
    grid-template-areas: 
    "header header header header"
    "main main aside aside"
    "main main aside aside"
    "main main aside aside"
    "main main aside aside"
    "footer footer footer footer";
}
.historia {
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: normal;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;

}

.foto{
    width: 300px;
    margin-left: 25px;  
    border-radius: 15px;
     margin-right: 15px;
     float: right;
}

.titulo-historia{
    color: rgb(163, 11, 11);
    font-family: "work-sans";
    font-size: large;
    
}

.texto{
    font-family: "Open-Sans" ;
    line-height: 1.5;
    font-size: 17px;
    

}