.main {
    padding: 1.2rem; 
    grid-area: main; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main h1{
    color:rgb(145, 25, 25);
    font-family: "Work-Sans";

}

.main h1{
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 1;}}
    
.main p{
    color: rgb(0, 0, 0);
    font-family: "Open-Sans";
    font-weight: bolder;
    padding: 1rem;
    line-height: 1.5;
   
}      