

@font-face{
    font-family: "Work_Sans";
    src: url(../assets/font/Work_Sans/);
}
@font-face{
    font-family: "Open-Sans";
    src: url(../assets/font/Open_Sans/);
}



@import "body";
@import "header";
@import "main";
@import "aside";
@import "footer";    
@import "historia";
@import "galeria";
@import "contacto";






