<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
   <title>Historia GT-R</title>
</head>
<body>
    <header class="navback">
        <div id="top">
            <img class="logo" src="../assets/img/Nissan Skyline R34 GTR Vspec - Front Badge _ Emblem.jpg" alt="logo sitio">
        </div>
            <nav>
                <ul class="menu">
                    <li class="item"><a href="../index.html">Inicio</a></li>
                    <li class="item"><a href="../views/historia.html">Historia</a>
                    
                        <ul class="submenu">

                            <li class="sub_i"><a href="../views/historia.html">GTR R32</a></li>
                            <li class="sub_i"><a href="../views/historia.html">GTR R33</a></li>
                            <li class="sub_i"><a href="../views/historia.html">GTR R34</a></li>
                            <li class="sub_i"><a href="../views/historia.html">GTR R35</a></li>
                            <li class="sub_i"><a href="../views/historia.html">GTR NISMO</a></li>
                        </ul>
                     </li>
                    
                    <li class="item"><a href="../views/imagenes.html">Imagenes</a></li>
                    <li class="item"><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
    </header>
    <section class="section 1">
        <H2>Skline</H2>
        <div>
            <p>Te contamos los comienzos de la historia... Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, reprehenderit eveniet dignissimos perferendis architecto explicabo dicta aliquid eum maiores tenetur.</p>
        </div>
    </section>
    <section class="section2">
        <h3> GT-R R32</h3>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed quo facere, dolorem voluptates sequi nisi accusamus autem, corporis aspernatur repellat? Velit assumenda ab laborum impedit quidem dolor at enim.</P>

        <h3> GT-R R33</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fuga tenetur numquam assumenda possimus? Illum perferendis quibusdam nulla, rerum quas molestiae! Exercitationem aliquam vitae voluptatum iste dolor modi itaque quam!</p>

        <h3> GT-R R34</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus assumenda, quae animi veniam, obcaecati odio aut corrupti, quo optio laboriosam dolorem ex voluptate quidem rerum quaerat. Deleniti molestias ullam iure!</p>

        <h3> GT-R R35</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At tempore, quibusdam saepe perferendis quidem quam ad. Adipisci non laudantium voluptatem, aperiam placeat, obcaecati quibusdam debitis quisquam, ipsa cumque doloribus ab?</p>

        <h3> GT-R NISMO</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto odit dolore dolor ratione porro mollitia illum ut velit voluptatibus asperiores, eveniet cum, voluptatum praesentium, magni sit nobis molestiae consectetur sunt.</p>

    </section>
</body>
</html>