<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web Infotmation Nissan Skyline GTR">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Alonso Jonathan">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/img/gtr-logo-3FD0B6342C-seeklogo.com.ico">

    <title>Nissan Skyline - Galeria de imagenes</title>
</head>


<body>
    
        <div class="contenedor-galeria"></div>
        <header class="header">
            <div id="top">
                <img class="logo" src="../assets/img/log.gtr.jpeg" alt="logo sitio">
            </div>

            <input type="checkbox" id="menu-check">
                <label id="menu1" for="menu-check">
            <span id="menu-abrir">&#9776;</span>
            <span id="menu-cerrar">X</span>
                </label>
                <nav>
                    <ul class="menu">
                        <li class="item"><a href="../index.html">Inicio</a></li>
                        <li class="item"><a href="../views/historia.html">Historia</a>
                        
                            <ul class="submenu">
    
                                <li class="sub_i"><a href="../views/historia.html">GTR R32</a></li>
                                <li class="sub_i"><a href="../views/historia.html">GTR R33</a></li>
                                <li class="sub_i"><a href="../views/historia.html">GTR R34</a></li>
                                <li class="sub_i"><a href="../views/historia.html">GTR R35</a></li>
                                
                            </ul>
                         </li>
                        
                        <li class="item"><a href="../views/imagenes.html">Imagenes</a></li>
                        <li class="item"><a href="../views/contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </header>
          
                <span class="linea"></span>
                <section class="galeria">
                    <a href="#image1">
                        <img src="../assets/img/galeria1.png"></a>
                    <a href="#image2">
                        <img src="../assets/img/galeria2.jpeg"></a>
                    <a href="#image3">
                        <img src="../assets/img/galeria3.jpeg"></a>
                    <a href="#image4">
                        <img src="../assets/img/galeria41.jpeg"></a>
                    <a href="#image5">
                        <img src="../assets/img/galeria5.jpg"></a>
                    <a href="#image6">
                        <img src="../assets/img/galeria6.jpg"></a>
                    <a href="#image7">
                        <img src="../assets/img/galeria7.jpeg"></a>
                    <a href="#image8">
                        <img src="../assets/img/galeria8.jpg"></a>
                    <a href="#image9">
                        <img src="../assets/img/galeria9.jpeg"></a>
                    <a href="#image10">
                        <img src="../assets/img/galeria10.jpeg"></a>
                    <a href="#image11">
                        <img src="../assets/img/galeria11.jpeg"></a>
                    <a href="#image12">
                        <img src="../assets/img/galeria12.jpeg"></a>

                </section>

                <article class="light-box" id="image1">
                    <a href="#image12" class="next">&#60;</a>
                    <img src="../assets/img/galeria1.png">

                    <a href="#image2" class="next">&#62;</a>

                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image2">
                    <a href="#image1" class="next">&#60;</a>
                    <img src="../assets/img/galeria2.jpeg">
                    <a href="#image3" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image3">
                    <a href="#image2" class="next">&#60;</a>
                    <img src="../assets/img/galeria3.jpeg">
                    <a href="#image4" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image4">
                    <a href="#image3" class="next">&#60;</a>
                    <img src="../assets/img/galeria66.jpeg">
                    <a href="#image5" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image5">
                    <a href="#image4" class="next">&#60;</a>
                    <img src="../assets/img/galeria5.jpg">
                    <a href="#image6" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image6">
                    <a href="#image5" class="next">&#60;</a>
                    <img src="../assets/img/galeria6.jpg">
                    <a href="#image7" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image7">
                    <a href="#image6" class="next">&#60;</a>
                    <img src="../assets/img/galeria71.jpeg">
                    <a href="#image8" class="next">&#62;<i class="fa-solid fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image8">
                    <a href="#image7" class="next">&#60;</a>
                    <img src="../assets/img/galeria8.jpg">
                    <a href="#image9" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image9">
                    <a href="#image8" class="next">&#60;</a>
                    <img src="../assets/img/galeria99.jpeg">
                    <a href="#image10" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image10">
                    <a href="#image9" class="next">&#60;</a>
                    <img src="../assets/img/galeria10.jpeg">
                    <a href="#image11" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image11">
                    <a href="#image10" class="next">&#60;</a>
                    <img src="../assets/img/galeria112.jpeg">
                    <a href="#image12" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                <article class="light-box" id="image12">
                    <a href="#image11" class="next">&#60;</a>
                    <img src="../assets/img/galeria12.jpeg">
                    <a href="#image1" class="next">&#62;</a>
                    <a href="#" class="close">X</a>
                </article>

                
         


                
                

            </nav>
            <footer class="footer">
                <div class="autor"><p>Todos los derechos reservados R</p></div>
            <div class="redes">
                <a href="https://www.facebook.com/" target="_blank">
                    <img class="redes" src="../assets/img/face.png" alt="logo facebook">
                </a>
                <a href="https://www.mail.google.com/" target="_blank">
                    <img class="redes" src="../assets/img/mail_icon.png" alt="logo mail">
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img class="redes" src="../assets/img/twitter-logo-15.png" alt="logo twitter">
                </a>
                
            </div>   
            
            
            <a href="#top" class="subir">
                <h5>Ir Arriba</h5>
            </a>   
        </div>
        </footer>
        </body>
        </html>
        
    


    